* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #e3f0ff, #f9fbff);
  color: #333;
  margin: 0;
  min-height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}

  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131b45;
  padding: 1% 5%;
  color: #d6e8ff;
}

header button {
  border: 0;
  background:#131b45;
}


.logo img {
  height: 100px;
  max-height: 50%;
  margin-left: 5%;
}

.usuario {
  display: flex;
  justify-content: flex-end; 
  align-items: center;                
}

.usuario button {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 150%;         
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.usuario p {
  color: #ffffff;
  font-size: 150%;         
  font-weight: bold; 
}

#cuenta {
  margin-right: 5%;
}

.usuario img {
  width: 90px;              
  height: auto;
  border-radius: 50%;
  border: 0.5% solid white;
  object-fit: cover;
}

.section {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 8, 82, 0.1);
  width: 40%;
  max-width: 500px;
  min-height: 300px;
  padding: 40px 30px;
  text-align: center;
  border: 2px solid #00085215;
}


.solicitar {
  text-align: center;
  padding: 2%;
}

.solicitar h2 {
  font-size: 1.8rem;
  color: #000852;
  margin-bottom: 10px;
}

.solicitar p {
  color: #000000;
  font-size: 1rem;
  margin-bottom: 25px;
}

.input-solicitar {
   width: 100%;
  padding: 12px 15px;
  font-size: 1rem;
  border: 2px solid #000852;
  border-radius: 12px;
  outline: none;
  text-align: center;
  margin-bottom: 25px;
  transition: all 0.2s ease;
}

.button {
  background:#000852;
  padding: 3% 6%;
  font-size: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
}
html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.acciones button {
  padding: 2% 4%;
  font-size: 90%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  display:flex;
  gap: 2%;
  margin-top: 0%;
  margin-bottom: 4px;
}


.button{
  background:#000852;
}

.acciones {
  display: flex;
  justify-content: center; 
  gap: 10px;              
}

footer { 
      margin-top: 10%;
      left: 0;
      width: 100%;
       background: #131b45;
      color: #fff;
      text-align: center;
      padding: 15px 10px;
      font-size: 14px;
      border-top: 2px solid #d6e8ff;
}

.div_tabla{
  margin:5%;
  overflow:auto;
}
table { 
    width: 100%;
    border-collapse: collapse;
    border-radius: 12px;       
}

th, td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    
}

th {
    background: #000852;
    color: #fff;
    text-align: center;
    
}

td {
    text-align: center;
}


table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

/* POPUP */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    display: flex;          
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup {
    background: white;
    padding: 25px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.popup h2 {
    margin-bottom: 10px;
    color: black;
}


.pop_buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 15px;
    flex: 1;
    margin: 0 5px;
    text-decoration: none;
    color: white;
    border-radius: 6px;
    text-align: center;
}

.volver {
    background: #1e2a7a;;
}

.otra {
    background: #388e3c;
}

.btn:hover {
    opacity: 0.9;
}



@media (max-width: 480px) {
  header {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .logo img {
    height: 70px;
    margin: 10px 0;
  }

  .usuario {
    flex-direction: column;
    gap: 10px;
  }

  .usuario img {
    width: 50px;
  }

  .section {
    width: 90%;
    padding: 15px;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
  }

  .input-solicitar {
    width: 100%;        
    font-size:14px;
    height: 50px;
    display: inline;      
    justify-content: center;  
    align-items: center;      
    margin-bottom: 40px;    
    margin-top: 20px;
}
  footer {
    font-size: 12px;
    padding: 10px;
  }
}
