
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.logo img {
  height: 100px;
  max-height: 50%;
  margin-left: 5%;
}

.usuario {
  display: flex;;    
  justify-content: flex-end; 
  gap: 2%;                /

}

header button {
  border: 0;
  background:#000852;
}

.usuario button {
  background: transparent;
  border: none;
  color: #ffffff;
  font-size: 15px;          
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.usuario img {
  width: 90px;              
  height: auto;
  border-radius: 50%;
  border: 0.5% solid white;
  object-fit: cover;
  text-align: right;
}

.usuario button:hover {
  opacity: 0.8;
}
  
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#000852;
  padding: 2% 5%;
  color: #d6e8ff;
}body {
    background-color: #d6e8ff;
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}
h1{
    font-size: 30px;
    color:#000852;
    font-family:monospace;
    text-align: center;
    margin-right: 10px;
}
.movimientos {
    width: 400px;
    background: #fff;
    border-radius: 12px;

}
.movimiento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 18px;
    border-bottom: 1px solid #ddd;
}

.nombre {
    font-weight: bold;
    color: #000852;
}
.monto {
    font-weight: bold;
    color: #444;
}
.fecha {
    font-size: 0.85em;
    color: #666;
}
