* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
}
body {
      background-color: #d6e8ff;
      display: flex;
      justify-content: center; 
      align-items: center;   
      height: 100vh;   /* 👉 asegura que todo quede centrado */
      width: 100%;
      font-family: Arial, sans-serif;
      flex-direction: column;
    }

    h1 {
      font-size: 30px;
      color: #000852;
      margin-bottom: 20px;
    }

    .log {
      margin-top: 10%;
      width: 90%;
      max-width: 400px;
      text-align: center;   
      margin-bottom:-5% ;
    }

    .titulo {
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: black;
      font-size: 40px;
      margin-bottom: 15px;
    }

    .imagen {
      width: 180px;
      height: auto;
      margin-bottom: 20px;
    }

    .input-datos {
      padding: 3%;
  font-size: 100%;
  border: 2px solid #000852;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 3%;
    }

    .acciones {
      display: flex;
      flex-direction: column;   
      align-items: center;      
      margin-top: 20px;                  
    }

    .acciones button {
  padding: 2% 4%;
  font-size: 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  display:flex;
  gap: 2%;
  margin-bottom: 5px;
}

    .button{
  background:#000852;
}

    .acciones button:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 12px rgba(0,0,0,0.2);
      opacity: 0.9;
    }

    .select {
      padding: 10px;
      background-color: #000852;
      border-radius: 10px;
      font-size: 100%;
      text-align: center;
      color: white;
      cursor: pointer;
    }

    footer {
      margin-top: 15.5%;
      left: 0;
      width: 100%;
      background-color: #000852;
      color: #fff;
      text-align: center;
      padding: 15px 10px;
      font-size: 14px;
      border-top: 2px solid #d6e8ff;
    }

    @media (max-width: 600px) {
      .input-datos {
        max-width: 250px;
      }
      .acciones button {
        width: 120px;
      }
    }