body {
    background-color: #d6e8ff;
    display: flex;
    justify-content: center; 
    align-items: center;     
                 
}

h1{
    font-size: 30px;
    color:#000852;
    font-family:monospace;
}
.log {
    text-align: center;
}

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 40px;
}

.imagen {
    width: 200px;
    height: 50px;
    
    
}

.input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 3px;
    align-items: center;
}

.button {
    background-color: rgb(20, 20, 71);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 28px;
    cursor: pointer;
    color: aliceblue;
    align-items: center;
}

.texto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 14px;
    display: block;
    align-items: center
}
.select{
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    margin-left:45px
}   

.button1{
    background-color: rgb(20, 20, 71);
    border: none;
    border-radius: 5px;
    padding: 10px;
    
    cursor: pointer;
    color: aliceblue;
    align-items: center;
}

@media (max-width: 600px) {
 
   header { 
    flex-direction: column; 
    text-align: center; 
  } 
  .usuario img { 
    width: 50px; 
  } 
  .input{
    width: 200px;
    height: 60px;
  }
  
  
}
