<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Actividad - FamilyBank</title>
        <link rel="stylesheet" href="../static/css/actividad.css">
    </head>
<body onload="cargarNombre()">
  <header>
    <div class="logo">
        {% if param['rol'] == 1 %}
          {% set destino = '/iniciopadre' %}
        {% else %}
          {% set destino = '/inicio' %}
        {% endif %}
        <button onclick="location.href='{{destino}}'">
            <img src="../static/Images/logoinicio.jpg" class="imagen" alt="Logo">   
        </button>

    </div>
    <div class="usuario">
        {% if param['rol'] == 1 %}
            <button id="cuenta" onclick="location.href='/cuenta'">Hola, {{param.get('usuario')}}! #{{param.get('codfam')}}</button>
        {% else %}  
            <button id="cuenta" onclick="location.href='/cuenta'">Hola, {{param.get('usuario')}}!</button>
        {% endif %}
        <button onclick="location.href='/cuenta'">
            {% if param.get('img') and param.get('img')|length > 1 %}
        <img src="../static/Images/{{ param.get('img') }}" alt="Usuario">
        {% else %}
          <img src="../static/Images/user.png" alt="Usuario">
        {% endif %}
        </button>
    </div>
    
  </header>

  <main>
    <section class="movimientos">
        <div class="titulo">
            {% if param['hijo_dic'] %}
            <h2>Actividad de {{param['hijo_dic']['nombre']}}</h2>
            {% else %}
            <h2>Tu Actividad</h2>
            {% endif %}
        </div>
        <div class="div_tabla">
            <table>
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Motivo</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for list_element in param['actividad'] %}
                    <tr>
                        <td>{{list_element['usuario']}}</td>
                        <td>{{list_element['nombre']}}</td>
                        <td>{{list_element['motivo']}}</td>
                        <td>$ {{list_element['monto']}}</td>
                        <td>{{list_element['fecha']}}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </section>
  </main>

  <script src="../static/dom.js"></script>
</body>
<footer>
    <p>© 2025 FamilyBank | Desarrollado por Tomás Maraval, Valentina Morello y Felicitas Orlando.</p>
</footer>
</html>
