<!DOCTYPE html>
<html lang="es">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Actividad - FamilyBank</title>
        <link rel="stylesheet" href="../static/css/actividad.css">
    </head>
<body onload="cargarNombre()">
  <header>
    <div class="logo">
        {% if param['rol'] == 1 %}
          {% set destino = '/iniciopadre' %}
        {% else %}
          {% set destino = '/inicio' %}
        {% endif %}
        <button onclick="location.href='{{destino}}'">
            <img src="../static/Images/logoinicio.jpg" class="imagen" alt="Logo">   
        </button>

    </div>
    <div class="usuario">
        <button onclick="location.href='/cuenta'">
            <img src="../static/Images/user.png" alt="Usuario">
        </button>
        <button id="cuenta" onclick="location.href='/cuenta'">{{param['usuario']}}</button>
    </div>
    
  </header>

  <main>
    <section class="movimientos">
        <div class="titulo">
            <h2>Actividad de ...</h2>
        </div>
        <div class="div_tabla">
            <table>
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre</th>
                        <th>Motivo</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for act in param['actividad'] %}
                    <tr>
                        <td>{{param['actividad'][act]['usuario']}}</td>
                        <td>{{act['nombre']}}</td>
                        <td>{{act['motivo']}}</td>
                        <td>$ {{act['monto']}}</td>
                        <td>{{act['fecha']}}</td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
    </section>
  </main>

  <script src="../static/dom.js"></script>
</body>
<footer>
    <p>© 2025 FamilyBank | Desarrollado por Tomás Maraval, Valentina Morello y Felicitas Orlando.</p>
</footer>
</html>
