<!--onsubmit="return validarModificaciones(event)"-->
<!-- onclick="cerrarSesion()" -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario - FamilyBank</title>
    <link rel="stylesheet" href="../static/css/cuenta.css">
</head>
<body>
  <header>
    <div class="logo">
        {% if param['rol'] == 1 %}
          {% set destino = '/iniciopadre' %}
        {% else %}
          {% set destino = '/inicio' %}
        {% endif %}
        <button onclick="location.href='{{destino}}'">
            <img src="../static/Images/logoinicio.jpg" class="imagen" alt="Logo">   
        </button>

    </div>
    <div class="usuario">
        <button onclick="location.href='/cuenta'">
            <img src="../static/Images/user.png" alt="Usuario">
        </button>
        <button id="cuenta" onclick="location.href='/cuenta'">{{param.get('usuario')}}</button>
    </div>
    
  </header>

  <main>
    <section class="section">
      <div class="datos">
        <h2>Tus Datos</h2>
        <p id="datosUser">Usuario: {{param.get('usuario')}}</p>
        {% if param['rol']==1 %} 
        <p id="datosCode">Codigo Familiar: {{param.get('codfam')}}</p>
        {% endif %}
      </div>
      <form class="formulario" name="datos" action='/modificardatos' method="post">
        <label>Nombre:</label>
        <input name="nombreNuevo" type="text" class="datos_input" id="nombreNuevo" placeholder="{{param.get('nombre')}}">
        <label>Apellido:</label>
        <input name="apellidoNuevo" type="text" class="datos_input" id="apellidoNuevo" placeholder="{{param.get('apellido')}}">
      
      
      <div class="acciones">
        <button type="submit" class="button">Guardar Cambios</button>
        <button class="button" onclick="location.href='/login'">Cerrar sesión</button>
      </div>

      <span id="cambioDatos"></span>

      </form>

    </section>

  </main>
  <script src="..//static/dom.js"></script>
</body>
<footer>
  <p>© 2025 FamilyBank | Desarrollado por Tomás Maraval, Valentina Morello y Felicitas Orlando.</p>
</footer>
</html>