<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FamilyBank</title>
  
  <link rel="stylesheet" href="../static/css/iniciopadre.css">
</head>
<body>
  <header>
    <div class="logo">
        <button onclick="location.href='/iniciopadre'">
            <img src="../static/Images/logoinicio.jpg" class="imagen" alt="Logo">   
        </button>

    </div>
    <div class="usuario">
        <button id="cuenta" onclick="location.href='/cuenta'">Hola, {{param.get('usuario')}}! #{{param.get('codfam')}}</button>
        <button onclick="location.href='/cuenta'">
          {% if param.get('img') and param.get('img')|length > 1 %}
        <img src="../static/Images/{{ param.get('img') }}" alt="Usuario">
        {% else %}
          <img src="../static/Images/user.png" alt="Usuario">
        {% endif %}
        </button>
    </div>
    
  </header>

  <main>
    <section class="section1">
      <div class="saldo">
        <p>Saldo disponible:</p>
        <p id="saldoActual"> $ {{param.get('saldo')}}</p>

      </div>

      <div class="acciones">
        <button class="button" onclick="location.href='/transferir'">Transferir</button>
        <button class="button" onclick="location.href='/actividad'">Ver actividad</button>
        <button class="button" onclick="location.href='/ingresar'">Ingresar dinero</button>
        <button class="button" onclick="location.href='/notificaciones'">Notificaciones</button>
      </div>
    </section>
    
    <section class="section2">
        {% for id_hijo, hijo in param['hijos'].items() %}
        <div>
          <button onclick="location.href='/hijo/{{ id_hijo }}'">
            {% if hijo['img'] and hijo['img']|length > 1 %}
        <img class="img_hijo" src="../static/Images/hijo['img']" alt="Usuario">
        {% else %}
          <img class="img_hijo" src="../static/Images/user.png" alt="Usuario">
        {% endif %}
            <h2>{{hijo['nombre']}}</h2>
          </button>
        </div>
        {% endfor %}
    </section>

  </main>
  <script src="../static/dom.js"></script>
</body>
<footer>
        <p>© 2025 FamilyBank | Desarrollado por Tomás Maraval, Valentina Morello y Felicitas Orlando.</p>
</footer>
</html>

