<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actividad - FamilyBank</title>
    <link rel="stylesheet" href="../static/css/notificaciones.css">
</head>
<body>
  <header>
    <div class="logo">
        <button onclick="location.href='/iniciopadre'">
            <img src="../static/Images/logoinicio.jpg" class="imagen" alt="Logo"> 
        </button>
    </div>
    <div class="usuario">
        <button id="cuenta" onclick="location.href='/cuenta'">Hola, {{param.get('usuario')}}! #{{param.get('codfam')}}</button>
        <button onclick="location.href='/cuenta'">
          <img src="../static/Images/user.png" alt="Usuario">
        </button>
        <button id="cuenta" onclick="location.href='/cuenta'">
            {{ param.nombres }} 
        </button>
    </div>
  </header>

<main>
    <section class="notificaciones">

        <h2>Tus notificaciones</h2>

        {% if param.error %}
        <div class="mensaje-alerta">
            <p>{{ param.error }}</p>
        </div>
        {% endif %}

       
        {% if param.solicitudes|length == 0 and param.hijos|length == 0 %}
        <div class="tarjeta">
            <p>No tienes notificaciones pendientes.</p>
        </div>
        {% endif %}

        {% for solicitud in param.solicitudes %}
        <div class="tarjeta solicitud-dinero">
            <p>
                <strong>Solicitud de dinero:</strong> 
                {{ solicitud.nombre_hijo }} ha solicitado 
                <strong>${{ solicitud.monto | int }}</strong>.
            </p>

            <p class="motivo-solicitud">
                Motivo: {{ solicitud.motivo }}
            </p>

            <span class="fecha-solicitud">
                Fecha: {{ solicitud.fecha }}
            </span>

            <div class="solicitudgrupo">
                <a href="/aprobar/{{ solicitud.id }}" class="button aceptar">Aceptar</a>
                <a href="/rechazar/{{ solicitud.id }}" class="button rechazar">Rechazar</a>
            </div>
        </div>
        {% endfor %}

        {% for hijo in param.hijos %}
        <div class="tarjeta solicitud-hijo">
            <p>
                <strong>Solicitud de unión familiar:</strong><br>
                {{ hijo.nombre }} {{ hijo.apellido }} ({{ hijo.username }})
                quiere unirse a tu grupo familiar.
            </p>

            <div class="solicitudgrupo">
                <a href="/aceptar_hijo/{{ hijo.id }}" class="button aceptar">Aceptar</a>
                <a href="/rechazar_hijo/{{ hijo.id }}" class="button rechazar">Rechazar</a>
            </div>
        </div>
        {% endfor %}

    </section>
</main>


  <script src="../static/dom.js"></script>
</body>
<footer>
    <p>© 2025 FamilyBank | Desarrollado por Tomás Maraval, Valentina Morello y Felicitas Orlando.</p>
</footer>
</html>