<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Solicitar Dinero - FamilyBank</title>
  <link rel="stylesheet" href="../static/css/solicitar.css">
</head>
<body>
  <header>
    <div class="logo">
        <button onclick="location.href='/inicio'">
            <img src="../static/Images/logoinicio.jpg" class="imagen" alt="Logo">   
        </button>

    </div>
    <div class="usuario">
        <button id="cuenta" onclick="location.href='/cuenta'">Hola, {{param.get('usuario')}}!</button>
        <button onclick="location.href='/cuenta'">
            <img src="../static/Images/{{param.get('img')}}" alt="Usuario">
        </button>
    </div>
    
  </header>

  <main>
    <section class="section">
      <div class="solicitar">
        <form  action="/ejecutarsolicitud" method="POST">
          <h2>Solicitar dinero:</h2>
          <p>Ingrese la cantidad que desea solicitar:</p>
          <input name="montoSolicitar" type="number" placeholder="$ 0.00" class="input-solicitar" id="montoSolicitar">
          <button type="submit" class="button">Solicitar</button>
        </form>

        {%if param['error'] != None %}
        <p>{{param['error']}}</p>
        {% endif %}
        
      </div>
    </section>

    <section class="section">
      <div class="div_tabla">
            <table>
                <thead>
                    <tr>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>estado</th>
                    </tr>
                </thead>
                <tbody>
                    {% if param['mis_solicitudes'] != None %}
                    {% for list_element in param['mis_solicitudes'] %}
                    <tr>
                        <td>$ {{list_element[0]}}</td>
                        <td>{{list_element[1]}}</td>
                        <td>{{list_element[2]}}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    
                </tbody>
            </table>
    </section>

  </main>

  <script src="../static/dom.js"></script>
</body>
<footer>
  <p>© 2025 FamilyBank | Desarrollado por Tomás Maraval, Valentina Morello y Felicitas Orlando.</p>
</footer>
</html>
