
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Transferir - FamilyBank</title>
  <link rel="stylesheet" href="../static/css/transferir.css">
</head>
<body>
  <header>
    <div class="logo">
        {% if param['rol'] == 1 %}
          {% set destino = '/iniciopadre' %}
        {% else %}
          {% set destino = '/inicio' %}
        {% endif %}
        <button onclick="location.href='{{destino}}'">
            <img src="../static/Images/logoinicio.jpg" class="imagen" alt="Logo">   
        </button>

    </div>
    <div class="usuario">
        {% if param['rol'] == 1 %}
            <button id="cuenta" onclick="location.href='/cuenta'">Hola, {{param.get('usuario')}}! #{{param.get('codfam')}}</button>
        {% else %}  
            <button id="cuenta" onclick="location.href='/cuenta'">Hola, {{param.get('usuario')}}!</button>
        {% endif %}
        <button onclick="location.href='/cuenta'">
            {% if param.get('img') and param.get('img')|length > 1 %}
              <img src="../static/Images/{{ param.get('img') }}" alt="Usuario">
            {% else %}
              <img src="../static/Images/user.png" alt="Usuario">
            {% endif %}
        </button>
    </div>
    
  </header>

  <main>

    {% if param['mostrar_popup'] %}
    <!-- POPUP -->
    <div id="popup-overlay" class="overlay">
      <div class="popup">
        <h2>{{param['status']}}</h2>

        <div class="pop_buttons">
            <a href="{{destino}}" class="btn volver">Volver a inicio</a>
            <a href="/transferir" class="btn otra">Hacer otra transferencia</a>
        </div>
      </div>
    </div>
    {% endif %}

    <section class="section">

     <div class="saldo">
        <p>Saldo disponible:</p>
        <p id="saldoActual">$ {{param.get('saldo')}}</p>

      </div>
      <form name="transferir" onsubmit="return ValidarCamposTransferencia(event)" action="/ejecutartransferencia" method="POST" >
        <div class="datos">
          {% if param['hijo_dic'] %}
          {% set us = param['hijo_dic']['nombre_usuario'] %}
          {% else %}
          {% set us = '' %}
          {% endif %}
          <input class="input" value = "{{us}}" name='usuarioDestino' id="usuarioDestino" placeholder="Ingrese usuario">
          <input type="number" name="monto" placeholder="Ingrese Monto $ 0.00" class="input" id="monto">
          <input class="input" name="motivo" id="motivo" placeholder="Ingrese motivo">
        </div> 
        <span id="error_transferir_js"></span>
        
        <div class="acciones">
          <button type="submit" class="button">Transferir</button>
        </div>
      </form>
    </section>

  </main>
  <script src="../static/dom.js"></script>
</body>
<footer>
  <p>© 2025 FamilyBank | Desarrollado por Tomás Maraval, Valentina Morello y Felicitas Orlando.</p>
</footer>
</html>