body {
    background-color: #d6e8ff;
    display: flex;
    justify-content: center; 
    align-items: center;     
                 
}

.contenedor {
    text-align: center;
}

.titulo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 40px;
}

.imagen {
    width: 180px;
    height: 50px;
    display:block;
      
}

.input {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 3px;
}

.button {
    background-color: rgb(20, 20, 71);
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    color: aliceblue;
}

.texto {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 14px;
}
