* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
}

body {
  background: linear-gradient(135deg, #e3f0ff, #f9fbff);
  color: #2b2b2b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131b45;
  padding: 20px;
  color: #ffffff;
}
header button {
  border: 0;
  background:#131b45;
}

.logo img {
  height: 70px;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 16px;
}

.usuario button {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.usuario img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  object-fit: cover;
}


main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 1rem;
}

.section {
  background: #f9faff;
  border-radius: 16px;
  border: 1px solid #d8e1ff;
  width: 45%;
  min-width: 300px;
  padding: 2rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
}

.datos {
  text-align: center;
  color: #131b45;
  margin-bottom: 1rem;
}

.datos h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  margin: 1.5rem 0;
}

.formulario label {
  color:#131b45;
  font-weight: 500;
  text-align: center;
  font-size: 1rem;
}

.datos_input {
  width: 90%;
  padding: 0.7rem;
  border: 1px solid #131b45;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  background-color: #ffffff;
}

.acciones {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.acciones button {
  background: #131b45;
  color: #ffffff;
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
  font-weight: 600;
  justify-content: center;
}

.acciones button:hover {
  background: #131b45;
}

footer {
  margin-top: 5%;
  width: 100%;
  background: #131b45;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
  border-top: 3px solid #cfdfff;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  header {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }

  .logo img {
    height: 60px;
  }

  .usuario {
    flex-direction: column;
  }

  .section {
    width: 90%;
    padding: 1.5rem;
  }

  .formulario {
    grid-template-columns: 1fr;
  }

  .datos_input {
    width: 100%;
  }

  .acciones button {
    width: 100%;
  }
}
