* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}


body {
  background: linear-gradient(135deg, #e3f0ff, #f9fbff);
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #131b45;
  padding: 1% 5%;
  color: #d6e8ff;
}

header button {
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.logo img {
  height: 80px;
}

.usuario {
  display: flex;
  align-items: center;
  gap: 16px;
}

.usuario button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.usuario img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid #fff;
  object-fit: cover;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 50px 0;
}

.section {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 8, 82, 0.1);
  width: 90%;
  max-width: 480px;
  padding: 30px 25px;
  text-align: center;
  border: 1.5px solid rgba(0, 8, 82, 0.15);
  min-height: 220px; /

}
.saldo {
  margin-bottom: 30px;
}

.saldo h2 {
    font-size: 22px;
}

.saldo p {
    font-size: 18px;
}
.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1.5px solid #000852;
  border-radius: 10px;
  text-align: center;
}


.acciones {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.acciones button {
  padding: 10px 20px;
  background: #000852;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.acciones button:hover {
  background: #1e2a7a;
}


footer {
  background: #131b45;
  color: #fff;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  border-top: 2px solid #d6e8ff;
}

@media (max-width: 480px) {
  header {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .logo img {
    height: 60px;
  }

  .usuario img {
    width: 50px;
    height: 50px;
  }

  .section {
    width: 90%;
    padding: 25px;
  }

  .saldo h2 {
    font-size: 22px;
  }

  .saldo p {
    font-size: 18px;
  }

  .acciones button {
    flex: 1;
    padding: 10px;
    font-size: 14px;
  }

  footer {
    font-size: 12px;
  }
}
